<!DOCTYPE html>
<html>
  <head>
    <title>Loan Calculator</title>
    <!-- load Angular from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app" ng-controller="loanInfoCtrl">
    <h1>Loan Calculator</h1>
      <form novalidate class="simple-form" ng-submit="calculate(loan)">
        Loan Amount: <input type="text/submit" ng-model="loan.principal" placeholder="Loan Amount here!"> $ <br />
        Interest Rate: <input type="text/submit" ng-model="loan.interest" placeholder="Interest Rate here!"> % per year<br />
        Loan Term: <input type="text/submit" ng-model="loan.term" placeholder="Loan Term here!"> months <br />

        <br> <br>

        Extra Payment Per Month: <input type="text/submit" ng-model="loan.extra" placeholder="Extra Payment here!"> $ <br />

        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="display(loan)" value="Calculate!" />
      </form>
    <hr>

      <div> {{ prin }} </div>
      <div> {{ interest }} </div>
      <div> {{ term }} </div>
      <div> {{ extra }} </div>
      <div> {{ monPay }} </div>
      <div> {{ totalInt }} </div>
      <div> {{ totalPay }} </div>
      <div> {{ annPay }} </div>
      
      <br>
      <br>
      
      <div> {{ monSaved }} </div>
      <div> {{ monShortened }} </div>

    <hr>


      <table border="1">
        <caption>{{ tableTitle }}</caption>
        <tr ng-repeat="details in displaySched">
          <td>{{ details["Month"] }}</td>
          <td>{{ details["Payment Remaining"] }}</td>
          <td>{{ details["Interest Paid"] }}</td>
          <td>{{ details["Total Interest Paid"] }}</td>
          <td>{{ details["Principal Paid"] }}</td>
          <td>{{ details["Remaining Loan Balance"] }}</td>

        </tr>
      </table>


    <hr>

    <div> {{ displayLoan["Extra Payment Information"] | json }} </div>
  </body>
</html>

